@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<div>
    <p>
        Please confirm you want to cancel the dinner titled: <i> @Html.Encode(Model.Title)?</i>
    </p>
</div>

@using (Html.BeginForm())
{
    <input name="ConfirmButton" type="submit" value="Delete"/>
}

